.PatientDashboard{
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
}
.buttonDivs{
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.emptyImage{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 100%;
    width: 100%;
    max-width: 600px;
  }
}