@use ".././../../styles/variables" as *;

.overflow{
  position: relative;
  overflow: hidden;
}
.sidebar{
  height: 65%; //have to find better alternative
  padding: 1rem 1.25rem;
  background-color: $selected-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow-y: auto;
}

.sideBarBtns{
  padding: 1rem 1.5rem;
  font-size:small
}